.list {
  display: flex;
}

.item:not(:last-child) {
  margin-right: 10px;
}

.button {
  background-color: rgb(30, 76, 94);
  width: 80px;
  height: 30px;
  border-radius: 8px;
  border: none;
  color: hsl(51, 67%, 49%);
  box-shadow: 0 0 5px rgb(0 0 0 / 50%);
  transition: 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  transform: scale(1);
}

.button:hover {
  color: rgb(255, 255, 255);
  transform: scale(1.025);
}
